/* 
Generic Styling, for Desktops/Laptops 
*/

body {
  font-family: sans-serif;
  font-size: .8em;
}

a {
  color: #0D395F; 
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  vertical-align: top;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}

th { 
  background: #0D395F; 
  color: white; 
  font-weight: 100; 
}


/*
fixed table headers
from https://adrianroselli.com/2020/01/fixed-table-headers.html*/
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

td, th { 
  padding: 6px; 
  border: thin solid #fff; 
  text-align: left; 
  vertical-align: top;
  max-width: 300px;
}

tr td {
  transition: all .4s;
}

tr:hover td {
  background-color: #FDD16D;
}

.yes {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  display: block;
}



/*tr:hover td a {
  color: #fff;
}*/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Country"; }
  td:nth-of-type(2):before { content: "Cancellation Date"; }
  td:nth-of-type(3):before { content: "Status"; }
  td:nth-of-type(4):before { content: "Dept. of State Advisory"; }
  td:nth-of-type(5):before { content: "US CDC Level"; }
  td:nth-of-type(6):before { content: "Flight Availability"; }
  td:nth-of-type(7):before { content: "US citizens enter?"; }
  td:nth-of-type(8):before { content: "Foreign nationals enter?"; }
  td:nth-of-type(9):before { content: "Quarantine required?"; }
  td:nth-of-type(10):before { content: "COVID test required?"; }
  td:nth-of-type(11):before { content: "Vaccination proof required"; }
  td:nth-of-type(12):before { content: "US students get visa?"; }
  td:nth-of-type(13):before { content: "Other students get visa?"; }
  td:nth-of-type(14):before { content: "% pop. vaccinated"; }
  td:nth-of-type(15):before { content: "COVID test required?"; }
  td:nth-of-type(16):before { content: "COVID test required?"; }
}


/*from */

/* Tooltip styles */
.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, calc(100% + 10px));
  padding: 6px calc(10px + 1rem) 6px 10px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
  border-bottom: 10px solid rgba(0, 0, 0, 0.9);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* a designer could certainly style this better :) */
.tooltip-close {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.5);
  background-color: transparent;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
}

